{% extends "MagazineBundle::layout.html.twig" %}

{% block content %}

<ul>
  {% for article in articles %}
    <li><a href="/get/{{ article }}">{{ article }}</a></li>
  {% endfor %}
</ul>

{% endblock %}