{% extends "MagazineBundle::layout.html.twig" %}

{% block content %}
<h1>List articles</h1>
<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for article in articles %}
    <tr>
      <td>{{ article.path }}</td>
      <td>{{ article }}</td>
      <td>
        <a href="{{ path('show', {'path': article.getPathWithoutRoot()}) }}">Show</a>
        <a href="{{ path('remove', {'title': article.getPathWithoutRoot()}) }}">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}