{% extends "MagazineBundle::layout.html.twig" %}

{% block content %}
<h1>List documents</h1>
<table>
  <thead>
    <tr>
      <th>Path</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  {% for document in documents %}
    <tr>
      <td>{{ document.path }}</td>
      <td>{{ document }}</td>
      <td>
        <a href="{{ path('show', {'path': document.getPathWithoutRoot()})|replace({'%2F': '/'}) }}">Show</a>
        <a href="{{ path('remove', {'title': document.getPathWithoutRoot()})|replace({'%2F': '/'}) }}">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}