{% extends '::base.html.twig' %}

{% block body %}
<h1>Create a new Page</h1>
<form action="#" method="post">
    {{ form_field(form) }}
    <input type="submit" value="Create" />
</form>
{% endblock %}

